@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

:root {
    --red: #800000;
    --branco: #FFFFFF;
    --preto: black;
    --amarelo-gema: #EFCA48;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dosis', serif;
    background-color: #f5f5f5;
    color: #333;
}

.title-container {
    position: relative;
    text-align: center;
    margin: 20px 0;
}

h2 {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 10px 20px;
    background-color: whitesmoke;
    display: inline-block;
}

hr {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 10px;
    background-color: #3498de;
    border: none;
    z-index: 0;
}

.hr-top {
    top: 20%;
    background-color: #800000;
}

.hr-bottom {
    top: 50%;
    background-color: #e0a800;
}

header {
    background-color: #800000;
    margin-bottom: 20px;
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar div {
    width: 33%;
}

.navbar .nav-icons {
    display: flex;
    justify-content: flex-end;
}

.logo {
    width: 50px;
}

#H1.menu-title {
    font-size: 24px;
    color: white;
    text-align: center;
    flex-grow: 1;
    margin: 0;
}

.nav-icons {
    display: flex;
    gap: 15px;
    padding: 0 10px;
}

.nav-icons .icon {
    width: 30px;
}

.section {
    display: flex;
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
}

.section h2 {
    color: #800000;
    text-align: center;
    margin-bottom: 20px;
    font-size: 52px;
}

.no-products {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    margin: 0;
}

.no-products img {
    width: 150px;
    margin-bottom: 10px;
}

.no-products p {
    font-size: 1.2em;
    color: #555;
}

.menu-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.menu-item {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: calc(30% - 20px);
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item .nome {
    margin: 15px;
    font-size: 30px;
}

.menu-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    background-color: #f0f0f0;
}

.menu-item p:first-of-type {
    font-weight: bold;
    color: #800000;
    margin-top: 10px;
}

.menu-item p:last-of-type {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    color: #333;
}

.menu-item button {
    background-color: #ffc107;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.menu-item button:hover {
    background-color: #e0a800;
}

footer {
    background-color: var(--red); !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: auto;
    padding-bottom: 10px;
}

footer img {
    margin: 1vw 0;
    width: 7vh;
}

footer .footer-info-img img {
    width: 3vh !important;
    margin: 0 !important;
    border-radius: 360px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .menu-item {
        width: calc(45% - 20px); /* Largura para telas menores */
    }

    #H1.menu-title {
        font-size: 20px; /* Tamanho da fonte menor */
    }
}

@media (max-width: 480px) {
    .menu-item {
        width: 100%; /* Largura total em telas muito pequenas */
    }

    .nav-icons .icon {
        width: 25px; /* Ícones menores em telas pequenas */
    }
}
