<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/login/entrar.css">
    <link rel="stylesheet" href="/css/login/login.css">

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container libre-franklin">
        <div class="second-column">
            <img src="/images/logo.png" alt="">
            <h2 class="title title-second">Crie sua nova senha</h2>
            <p class="description description-second">Digite sua nova senha abaixo para garantir seu acesso e continuar aproveitando nossos deliciosos hot dogs!</p>

            <form class="form" action="/newPassword" method="post">
                <label name="password" class="label-input" for="">
                    <input name="password" type="password" placeholder="Nova senha" required>
                </label>

                <label name="confirmPassword" class="label-input" for="">
                    <input name="confirmPassword" type="password" placeholder="Confirme a nova senha" required>
                </label>

                <input type="hidden" name="email" value="<%= email %>">
                <input type="hidden" name="userId" value="<%= userId %>">

                <button class="btn btn-second">Definir</button>
            </form>
        </div><!-- second column -->
</div>
<script src="js/interactions/login/password.js"></script>
</body>
</html>