<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/login/entrar.css">
    <link rel="stylesheet" href="/css/login/login.css">
    <link rel="shortcut icon" href="/images/logo.png">
    <title>Hot Dog Brasileiro | Esqueceu a senha</title>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container libre-franklin">
        <div class="second-column">
            <img src="/images/logo.png" alt="">
            <h2 class="title title-second">Insira o código de verificação</h2>
            <p class="description description-second">Enviamos um código para o seu e-mail. Digite o código abaixo para redefinir sua senha e voltar a saborear o seu hot dog favorito!</p>

            <form class="form" action="/resetPassword" method="post">
                <label name="otp" class="label-input" for="">
                    <input name="otp" type="text" placeholder="Código" required>
                </label>

                <input type="hidden" name="email" value="<%= email %>">

                <button class="btn btn-second">Enviar</button>
            </form>
        </div><!-- second column -->
</div>
<script src="js/interactions/login/password.js"></script>
</body>
</html>