<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hot Dog Brasileiro | Home</title>
      <link rel="shortcut icon" href="/images/logo.png">

    <link rel="stylesheet" href="css/home/home.css">
    <link rel="stylesheet" href="css/home/footer.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <nav>
            <img src="images/logo.png" alt="Logo Hot Dog Brasileiro">

            <div class="nav-links">
                <a href="/cardapio">CARDAPIO</a>
                <a href="#">SOBRE</a>
                <a href="/login" id="loginBtn">Cadastre-se</a>
            </div>
        </nav>

        <div class="header-container">
            <div class="header-container-title">
                <h1>OS MELHORES HOT DOGS DA CIDADE</h1>
                <p>Venha experimentar nossos deliciosos lanches, feitos com os melhores ingredientes</p>

                <a href="/login">Peça agora!</a>
            </div>

            <div class="header-container-image">
                 <img src="images/produtos/default.webp" alt="">
            <div>
        </div>
    </header>

    <!-- HTML DINAMICO - CATEGORIA COMBO -->
    <section class="combo-container">
        <h1>APROVEITE NOSSAS OFERTAS!</h1>

        <div class="combo-card-container">
            <div class="combo-card">
                <div class="combo-card-image">
                    <img src="images/produtos/default.webp" alt="">
                </div>

                <h4>Nome do combo</h4>

                <div class="combo-card-info">
                    <p class="info">Produto I</p>
                    <p class="info">Produto II</p>
                    <p class="info">Produto III</p>

                    <p class="preco">R$20,00</p>

                    <a href="">Peça agora!</a>
                </div>
            </div>
        </div>
    </section>

    <section class="cardapio-container">
        <h1>CONHEÇA NOSSO CARDÁPIO</h1>
        <p>Temos opções para todos os gostos!</p>

        <a href="/cardapio">Ver cardápio</a>
    </section>

    <section class="sobre-container" id="sobre-container">
        <h1>SOBRE NÓS</h1>

        <div class="sobre-container-conteudo">
            <div class="sobre-image">
                <img src="images/produtos/default.webp" alt="">
            </div>

            <div class="sobre-descricao">
                <p>
                    Surgida de uma ideia que se transformou em realidade, a Hot Dog Brasileiro foi inaugurada em 09 de setembro de 2022, data em que se celebra o Dia Nacional do Hot Dog.
                    <br><br>
                    Com um olhar voltado para inovação, nossa equipe buscou sair do convencional. Em vez de servir o clássico hot dog, trouxemos para Mococa uma nova experiência: o Hot Dog Selado.
                    <br><br>
                    A equipe da Hot Dog Brasileiro dedicou-se a criar uma experiência de sabor única e diferenciada para nossos clientes, combinando a técnica do hot dog selado com ingredientes de alta qualidade. Todos os nossos hot dogs são preparados na hora, garantindo que nossos clientes desfrutem de uma experiência excepcional, desde o pão fresco até a embalagem cuidadosamente lacrada.
                    <br><br>
                    Em nosso espaço, cada detalhe é preparado com rigorosas práticas de higiene e enviado com qualidade, carinho e dedicação para o conforto da sua casa.
                </p>
            </div>
        </div>
    </section>

    <section class="avaliacao-container">
        <h1>AVALIAÇÕES</h1>

        <div class="avaliacao-container-cards">
            <div class="avaliacao-container-cards-card">
                <img src="images/produtos/default.webp" alt="">

                <p>Usuário</p>
                <p>Muito bom!</p>
            </div>
        </div>
    </section>

    <footer>
        <img src="images/logo.png" alt="">

        <div class="footer-info-img">
            <img src="images/produtos/default.webp" alt="Whatsapp">
            <img src="images/produtos/default.webp" alt="Whatsapp">
            <img src="images/produtos/default.webp" alt="Whatsapp">
        </div>

        <div class="footer-info-content">
            <p>HORÁRIO DE FUNCIONAMENTO</p>
            <p>QUARTA À SEGUNDA</p>
            <p>19H00 A 22H00</p>

            <br>
            <p>R.Dr.Abrão Venturi Filho, 60, Mococa</p>
        </div>
    </footer>
   <script src="/js/interactions/home/home.js"></script>

<script>
    let userData = <%- JSON.stringify(user) %>;
    userData = userData.user;

    document.addEventListener("DOMContentLoaded", function() {
        const idUser = userData.id;
        let userTipo = userData.tipo_usuario;

        const cadastroButton = document.getElementById("loginBtn");

userTipo = 'admin'
        if (idUser && userTipo) {
            if (userTipo === 'admin') {
                cadastroButton.textContent = 'Painel de Controle';
                cadastroButton.href = '/pedidos'
            } else if (userTipo === 'cliente') {
                cadastroButton.textContent = 'Pedidos';
                cadastroButton.href = '/pedidos/cliente'
            }
        } else {
            cadastroButton.textContent = 'Cadastre-se';
        }
    });
</script>

</body>
</html>