<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home/home.css">
    <link rel="stylesheet" href="css/home/footer.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="cabecalho">
        <img src="images/logo.jpg" alt="Logo hot-dog Brasileiro" id="logoHeader">
        <h3 class="container-texto"><a href="/cardapio">CARDAPIO</a>
            SOBRE
            <a href="/login">LOGIN</a>

        </h3>
    </div>

    <div class="container-titulo">
        <div id="container-texto1">
            <h1 id="texto-titulo">OS MELHORES HOT DOGS
                DA CIDADE</h1>
            <p id="texto-subtitulo">Venha experimentar nossos deliciosos lanches, feitos com os melhores ingredientes
            </p>
            <a href="/login"><button id="botao-pedir">Peça agora!</button></a>
        </div>

        <img id="imagem-titulo" src="images/mudar dps.jpeg" alt="CARDAPIO">

    </div>


    <div>
        <h1 id="titulo-combos">APROVEITE NOSSAS OFERTAS!</h1>
    </div>
    <div id="card-combos">
        <div class="card-combo1">
            <div id="container-imagem">
                <img class="imgcm" src="images/mudar dps.jpeg" alt="">
            </div>


            <h4 class="texto-titulo-combo">Combo individual</h4>

            <div class="informacoes-combo">
                1 Hot dog Tradicional II <br>
                + 1 refrigente lata e <br>
                + 1 trento <br><br>
            </div>
            <p class="card-preco">
                R$25,00 <a href="/cardapio"><BUTTON class="btn-combo">Peça agora!</BUTTON></a>
            </p>

        </div>
        <div class="card-combo1">
            <div id="container-imagem">
                <img class="imgcm" src="images/mudar dps.jpeg" alt="">
            </div>
            <h4 class="texto-titulo-combo">Combo Casal</h4>
            <div class="informacoes-combo">
                2 Hot dogs Tradicionais <br>
                + 1 Guaraná Antartica - litro <br>
                + 1 trento <br><br>
            </div>

            <p class="card-preco">
                R$40,00
                <a href="/cardapio"><BUTTON class="btn-combo">Peça agora!</BUTTON></a>
            </p>
        </div>
    </div>



    <div id="card-cardapio">
        <h1>CONHEÇA NOSSO CARDÁPIO</h1>
        <p>Temos opções para todos os gostos!</p>

        <a href="/cardapio"><button id="btn-cardapio">Ver cardápio</button></a>
    </div>


    <div id="container-sobre">
        <div class="sobre-img">
            <h1 id="sobre-titulo">Sobre nós</h1>
            <img src="images/mudar dps.jpeg" alt="" class="sobre-img">
        </div>
        <div class="sobre-descricao">
            <p> Surgindo de uma ideia e se transformando em realidade, a Hot Dog Brasileiro foi inaugurada
                no dia 09 de setembro de 2022, dia nacional do hot dog. <br>

                Visando a mudança e a inovação, nossa equipe buscou pensar fora da caixinha. Ao invés de servir
                aquele
                hot
                dog clássico, trouxemos para Mococa o Hot Dog selado! <br><br>
                A equipe Hot Dog Brasileiro dedicou-se a criar uma experiência de sabor único e concentrado para
                nossos
                clientes, combinando a técnica do hot dog selado com ingredientes de alta qualidade. Todos os nossos
                hot
                dogs são preparados na hora para garantir que nossos clientes tenham a melhor experiência possível,
                desde o
                pão fresco, até mesmo a embalagem lacrada. <br><br>

                Tudo no nosso cantinho é preparado com higiene de alta performance e enviado com muita qualidade,
                amor e
                carinho até conforto de sua casa!</p>
        </div>
    </div>


    <h1 id="titulo-avaliacao">AVALIAÇÕES DE NOSSOS CLIENTES</h1>

    <div id="cliente-avaliacao">

        <div class="cliente-comentario">
            <img src="images/icon_pessoa.png" alt="" class="img-cliente"><br>
        </div>

        <div class="cliente-comentario">
            <img src="images/icon_pessoa.png" alt="" class="img-cliente"><br><br><br><br><br>
        </div>

        <div class="cliente-comentario">
            <img src="images/icon_pessoa.png" alt="" class="img-cliente">
        </div>
    </div>

    <footer class="card-foot">
        <img src="images/logo.jpg" alt="" class="logo-foot">

        <div class="container-contato">
            <img class="img-foot" src="images/icone whats.png" alt="Whatsapp">
            <img class="img-foot" src="images/instagram-black-logo-on-transparent-background-free-vector.jpg"
                alt="Instagram">
            <img class="img-foot"
                src="images/2261151-phone-icon-symbol-sign-isolate-on-white-background-vector-illustration-grátis-vetor.jpg">
        </div>

        <div class="info-foot">

            <h2">HORÁRIO DE FUNCIONAMENTO</h2><br><br>
                QUARTA À SEGUNDA <br>
                19H00 A 22H00 <br><br>

                R.Dr.Abrão Venturi Filho, 60, Mococa

        </div>
        </div>
    </footer>
</body>
</html>